@charset "utf-8";

/* 
    品牌合作
*/

.container {
    background: url(../images/pic_brandcooperation_pic@2x.png) no-repeat;
    background-position: right 25%;
    background-size: 5.5rem 6.5rem;
}

.brand-cooperation-wrap {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem;
}

.brand-parter-wrap {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.brand-parter {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 23%;
    margin-bottom: 2.3rem;
    margin-right: .5rem;
}

.brand-parter:nth-child(4n) {
    margin-right: 0;
}

.brand-parter-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.brand-parter-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    background: #fff;
    box-shadow: 0px 7px 15px 0px rgba(255, 230, 156, 0.5);
    border: 1px solid #FFE69C;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.brand-parter-logo img {
    max-width: 3.6rem;
    max-height: 1.9rem;
}
.brand_swiper{
	padding-bottom: 30px !important;
}
.brand_swiper .swiper-pagination-bullets .swiper-pagination-bullet{
	background: #DCDCDC !important;
}
.brand_swiper .swiper-pagination-bullets .swiper-pagination-bullet-active{
	background: #FF9513 !important;
}

.brand-parter-title {
    margin-top: .8rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #4A4A4A;
    text-align: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 我们的服务理念 */

.service-philosophy-intro {
    margin-top: 1.8rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #4A4A4A;
    letter-spacing: 1px;
    line-height: 2.1rem;
}

.cooperation-process {
    width: 100%;
    height: 13.8rem;
    margin-top: .5rem;
    background: #fff;
    text-align: center;
}

.cooperation-process img {
    width: 25rem;
    height: 6.8rem;
}

.process-title {
    padding: 1.6rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #4A4A4A;
}
.imgs{
	width: 100%;
}
.imgs img{
	width: 100%;
}