@charset "utf-8";

/* 
    首页轮播图样式
*/

#certify {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: -8rem;
}

#certify .swiper-container {
    padding-bottom: 25px;
}

#certify .swiper-slide {
    width: 100%;
    
}

#certify .swiper-slide img {
    display: block;
    width: 84%;
    height: auto;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 3px 8px #FFE69C;
}

#certify .swiper-pagination {
    width: 100%;
    bottom: 0px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border: 1px solid #FF9513;
    background-color: transparent;
    opacity: 1;
	border-radius: 50%;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #FF9513;
}