/* 
    公共类样式
*/
img,table,video{
	max-width: 100% !important;
	height: auto;
}
a{
    -webkit-tap-highlight-color:transparent;
}
.mobilde-box{
	max-width: 768px;
	margin: 0 auto;
	overflow: hidden;
}
.no-contnt{
	width: 100%;
	text-align: center;
	padding-top: 30px;
}
.no-contnt img{
	width:80% ;
	height: auto;
}
.no-contnt p{
	margin-top: 20px;
	font-size: 14px;
	color: #4A4A4A;
}
body {
    width: 100vw;
    height: 100%;
    background: #FFF9E9;
}

.header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11rem;
    background: url(../images/search_top@2x.png) no-repeat;
    background-size: 100% 100%;
}

.header-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4A4A4A;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-title21 {
    font-size: 2.1rem;
    font-weight: bold;
    color: #4A4A4A;
    letter-spacing: 1px;
}

.header-subtitle {
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #4A4A4A;
    text-transform: uppercase;
}


/* 合作 */

.cooperation-info {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    /* height: 33.7rem; */
    margin-top: 1.8rem;
    padding: 1.9rem 1.8rem 2rem 1.8rem;
    background: #fff;
    box-shadow: 0px 1px 10px 0px#FFE69C;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.cooperation-info p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #4A4A4A;
    line-height: 2.1rem;
    letter-spacing: 1px;
}

.cooperation-info img {
    margin-top: 1.1rem;
    width: 100%;
    height: 16rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cooperation-shot {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin: 1.8rem 0 2rem 0;
}

.cooperation-shot li.active {
    width: 1.1rem;
    height: .6rem;
    border-radius: 2px;
    background: #FF9513;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.cooperation-shot li {
    margin-right: .5rem;
    width: .6rem;
    height: .6rem;
    background: #DCDCDC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* 我们的服务 */

.our-service {
    margin-top: 3rem;
	text-align: center;
}

.our-service img {
    width: 5rem;
    height: auto;

}

.our-service span {
    display: inline-block;
    margin: 0 .9rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: #333333;
}


/* 轮播图片样式 */


/* 企业文化轮播图 */

#cultural-wrap {
    width: 100%;
}

#cultural-wrap .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#cultural-wrap .swiper-slide img {
    width: 100%;
    height: auto;
}

#cultural-wrap .swiper-pagination {
    width: 100%;
    bottom: 0;
}

#cultural-wrap .swiper-pagination-bullets .swiper-pagination-bullet {
    width: .6rem;
    height: .6rem;
    margin: 0 5px;
    border: 2 solid #FF9513;
    background-color: #ffffff;
    opacity: 1;
}

#cultural-wrap .swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 1.5rem;
    height: .6rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #FF9513;
}


/* 页脚 */

footer {
    /* position: fixed;
    bottom: 0;
    z-index: -1; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.6rem;
    margin-top: 2.6rem;
    padding-bottom: 2.5rem;
}

.footer p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
    letter-spacing: 1px;
    text-align: center;
}

.footer p:first-child {
    margin-bottom: .8rem;
}